<!-- MyIndTasks  -->
<h1 class="listTitle">Tasks list</h1>
<div class="sep">
    <span class="numRemaining">{{remaining()}} task/s remaining of {{count}}</span>
</div>
<ul class="unstyled">
    <li ng-repeat="task in tasks" class="listStyle">
        <div class="row">
            <div class="col-lg-6 total-width">
                <div class="input-group">
                      <span class="input-group-btn">
                        <button class="btn btn-default btn-danger" ng-click="delTask(task)">X</button>
                      </span>
                    <input type="text" class="form-control done-{{task.true}}"
                           value="{{task.text}}" ng-disabled="state">
                    <!--<span class="input-group-btn">-->
                        <!--<button class="btn btn-default btn-primary" ng-click="editarTask(tarea)">{{textBtEdit}}</button>-->
                    <!--</span>-->
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>
    </li>
</ul>
